{% extends "base.html" %}

{% block titolo %}Ripristino factory{% endblock %}
{% block intestazione %}RIPRISTINO DATABASE FACTORY{% endblock %}

{% block contenuto %}
<fieldset>
    <legend>Conferma ripristino di fabbrica</legend>
    <p>Il database Corrente verra' ripristinato dal Master. L'archivio Admin restera' invariato.</p>
    <form method="post" onsubmit="return confirm('Ripristinare il database Corrente dal Master? L\'archivio Admin non verra\' modificato.');">
        <label for="password-master">Password MASTER</label>
        <input type="password" id="password-master" name="password" autocomplete="off" required>
        <button type="submit">RIPRISTINA DATABASE FACTORY</button>
    </form>
</fieldset>
{% endblock %}
